/* Global Changes */
.footer-padding {
    padding: 20px 0;
  }

  .empty_space {
    padding: 40px 0;
  }


  /* Home Page */
.container__hero {
    margin: 15px 0;
  }
  
  .intro {
    margin: 15px 0 30px 0;
  }
  
  .intro-btn {
    margin: 30px auto;
    text-align: center;
  }
 